parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    wayf_idp_certificate: file
    wayf_sso:
    wayf_private_key: file
    wayf_asc:
    wayf_entityid:

    ews_host:
    ews_user:
    ews_password:
    ews_booking_mail:
    ews_booking_user:
