parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:   smtp
    mailer_host:        127.0.0.1
    mailer_user:        ~
    mailer_password:    ~
    mailer_dev_address: ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    itk_exchange_ws_host: exchange.koba2.vm
    itk_exchange_ws_user: user
    itk_exchange_ws_password: pass
    itk_exchange_user_mail: mail@koba2.vm
    itk_exchange_user_name: Koba
