<!-- Navigation bar -->
<ng-include src="'views/navigation.html'"></ng-include>

<!-- Header -->
<div class="page-header">
  <h1>Users</h1>
</div>

<!-- messages -->
<div data-ng-show="message" class="alert {{ messageClass }}" role="alert">{{ message }}</div>

<!-- Page content -->
<div class="jumbotron">
	<div class="panel panel-default">
  	<table class="table table-hover">
  	<thead>
			<tr>
				<th>#</th>
     		<th>UUID</th>
     		<th>Name</th>
        <th>Email</th>
        <th>Active</th>
     		<th>Actions</th>
  		</tr>
  	</thead>
    <tr data-ng-repeat="user in users">
    	<td>{{ $index + 1 }}</td>
    	<td>{{ user.uuid }}</td>
    	<td>{{ user.name }}</td>
      <td>{{ user.mail }}</td>
      <td>
        <i class="fa fa-check" data-ng-if="user.status"></i>
      </td>
      <td>
        <!-- Edit index -->
        <button type="button" class="btn btn-success btn-xs" data-ng-click="edit(user.id)">
          <i class="fa fa-pencil-square-o"></i> Edit
        </button>

      </td>
    </tr>
  	</table>
	</div>

</div>
