<form role="form">
	<!-- Key -->
	<fieldset disabled>
		<div class="form-group">
			<label for="index" class="control-label">Unique ID</label>
			<input type="text" class="form-control" id="index" placeholder="Unique id" data-ng-model="user.unique_id">
		</div>


		<!-- Name -->
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control" id="name" placeholder="Enter Name" data-ng-model="user.name">
		</div>


		<!-- Email -->
		<div class="form-group">
			<label for="email">Email</label>
			<input type="text" class="form-control" id="email" placeholder="Enter email" data-ng-model="user.mail">
		</div>
	</fieldset>

	<!-- Active -->
	<div class="form-group">
		<label for="email">Status</label>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="" id="active" data-ng-model="user.status">
				Active
			</label>
		</div>
	</div>

	<!-- Groups -->
	<div class="form-group">
		<label for="email">User Groups</label>
		<div class="checkbox" data-ng-repeat="(key, group) in groups">
			<label>
				<input type="checkbox" value="" id="" data-ng-checked="userInGroup(group)"">
				<strong>{{ group.title }}</strong> - {{ group.description }}
			</label>
		</div>
	</div>

</form>
